// Place all the styles related to the Achievement controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    background: #fff;
    text-align: center;
    table-layout: fixed;
}
th{
    background: #fff5e5;
    width: 230px;
}
td {
    padding: 1px 50px;
}
